body{
    margin: 10px;
    padding: 0px;
    background: linear-gradient(45deg,red,yellow);
}
.flex-Header{
    display: flex;
    justify-content: space-around;
    font-size: 28px;
    background-color: rebeccapurple;
}

.link{
    color: white;
}

.flex-students{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 29px;

}

.add-student{
    border: 5px solid black;
    background-color: aqua;
    border-radius: 30px;
    width: 280px;
    height: 61px;
    text-align: center;
}

.table-main{
    margin-left: 16%;
    margin-top: 5%;
    background-color: lightpink;
    
}

.center{
    text-align: center;
}